
/* Importanto as Fontes no Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

/* CORES E FONTES DO PROJETO */
:root {
    /* Cores */
    --cor-primaria: #000000;
    --cor-secundaria:#f6f6f6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;



    /* Fontes */
    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: 'Montserrat',sans-serif;
}   
/* Resetando a dimensão da página */
*{
    margin: 0%;
    padding: 0%;
}

/* Edição do Conteiner Principal */
body {
    box-sizing: border-box;
    background-image: url(./assets/backgrond-1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--cor-secundaria);
}
/* Bloco Header */
.cabecalho {
    padding: 5% 10%;
}

.cabecalho__menu {
   display: flex;
   gap: 4rem;
}

.cabecalho__menu__link {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-style: normal;
    font-optical-sizing: auto;
    color: var(--cor-terciaria);
    text-decoration: none ;
}
.cabecalho__menu__link:hover{
    color: var(--cor-secundaria);
    border-bottom: .12rem solid var(--cor-terciaria);
}


/* Bloco Main */
.destaque-titulo{
    color: var(--cor-terciaria);
}
.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 10% 6%;
    gap: 5.12rem;
}
.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-style: normal;
}
.apresentacao__conteudo__paragrafo {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
/* Bloco dos links e Botões */
.apresentacao__links {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.titulo__links {
    font-size: 1.5rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;
}
.links {
    display: flex;
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    color: var(--cor-secundaria);
    width: 50%;
    text-align: center;
    padding: 1rem;
    border-radius: .5rem;
    border: .12rem solid var(--cor-terciaria);
    justify-content: center;
    align-items:center;
    gap: 1rem;   
}
.links:hover {
    background-color: var(--cor-hover);
    cursor: pointer;
    box-shadow: 0 .19rem var(--cor-terciaria);
    width: 23.81rem;   
    font-size: 1.62rem;
    #img__github {filter: brightness(100)};
    #img__linkedin {filter: brightness(100)};
    #img__instagram {filter: brightness(100)};
}

.apresentacao__imagem {
    width: 50%;
}
/* Bloco Footer */
.rodape {
    display: flex;
    justify-content: center;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 1rem;
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
}

/* CONDIÇÃO PARA TELAS MENORES */
@media (max-width: 1023px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 7%;
    }
    .apresentacao__conteudo {
        width: auto;
    }
}
